@import url('https://fonts.google.com/specimen/Major+Mono+Display');

body {
    background-color: rgb(219, 211, 201);
}

h1 {
    text-align: center;
    font-family: 'Mono', cursive;
}

h2 {
    text-align: center;
    font-family: 'Mono', cursive;
}

h3{
    font-family: 'Mono', cursive;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.description {
    text-align: center;
}

li {
    font-family: 'Gaegu', cursive;
}

p {
    font-family: 'Gaegu', cursive;
}

a {
    font-family: 'Gaegu', cursive;
}
